// resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #222;
}

main {
    margin-left: 5em;
}

// navigation styles

// nav
.navbar {
    position: fixed;
    background: #333;
    transition: .2s ease;
}

// ul
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logo {
    color: rgb(40, 184, 98);
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1em;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    font-size: 1.15em;
    display: flex;
    align-items: center;
    height: 5em;
    color: #eee;
    text-decoration: none;
    transition: .2s ease;

    .link-text {
        display: none;
        margin-left: 1em;
        text-transform: capitalize;
    }

    i {
        min-width: 2em;
        margin: 0 1.5em;
    }
}

.nav-item:hover .nav-link {
    background: #222;
}

.nav-item:hover i {
    color: rgb(40, 184, 98);
}

// responsive styles

// xs screens
@media only screen and (max-width: 390px) {
    .nav-link i {
        min-width: 1em;
        margin: 0 1em;
    }
}

// small screens

@media only screen and (max-width: 600px) {
    .nav-item:last-child {
        margin-top: 0;
    }
    
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5em;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .nav-item {
        font-size: .75em;
    }

    .logo {
        display: none;
    }

    main {
        margin: 0;
    }
}

// lg screens

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        height: 100vh;
        width: 5em;
    }

    .navbar:hover {
        width: 16em;
    }

    .navbar:hover .link-text {
        display: block;
    }

    .nav-item:hover i {
        transform: scale(1.5);
        transition: .2s ease;
    }
}

// main

.banner {
    height: 60vh;
    width: 100%;
    background: #eee;

    .banner-head, .banner-body {
        padding: 2em;
    }

    .banner-head {
        height: auto;
        height: 15vh;
        
        h1 {
            color: purple;
            font-weight: bold;
            font-size: 3em;
        }
        p {
            font-size: 1.15em;
        }
    }

    .banner-body {
        height: 45vh;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .panel {
            background: #fff;
        }
    }
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 25px auto;

    .img-container {
        height: 100px;
        width: 100%;
        img {
            height: 100%;
            width: auto;
        }
    }

    h2 {
        color: purple;
        margin-top: .5em;
        letter-spacing: 1px;
    }
}

#employeeDetails {

}

#contactDetails {

}